a{
    text-decoration: none;
}

p{
    font-family: Roboto, Arial;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin: 0;
    padding-top: 75px;
    padding-left: 240px;
}