.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 219, 219);
    z-index: 100;
}

.left-section{
    width: 175px;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    padding: 10px; 
}
.ham-menu{
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
    padding: 7px;
}
.ham-menu span{
    height: 1.5px;
    width: 18px;
    background-color: black;
    display: block;
}
.ham-menu:hover{
    background-color: lightgray;
}
.Yt-logo{
    height: 53px;
    width: 100px;
}

.middle-section{
    flex: 1;
    margin-left: 0px;
    margin-right: 100px;
    max-width: 700px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border-style: solid;
    border-color: lightgray;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.magnifying-search{
    height: 39px;
    width: 60px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-color: lightgray;
    cursor: pointer;
    margin-left: -1px;
}
.mag-icon{
    height: 30px;
    width: 40px;
    border-radius: 100%;
}

.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
    padding-right: 10px ;
}

.create-button{
    font-family: Roboto, Arial;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    font-weight: 480;
    cursor: pointer;
}
.noti-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noti-icon{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
    border: none;
    position: relative;
}
.noti-box .tooltip{
    position: absolute;
    opacity: 0;
    font-family: Roboto, Arial;
    font-size: 12px;
    bottom: -7px;
    background-color: lightgray;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    pointer-events: none;

}
.noti-box:hover .tooltip{
    opacity: 1;
}
.noti-icon:hover{
    background-color:black;
}

.user-logo{
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
    background-color: teal;
    color: white;
    border: none;
    font-family: Roboto, Arial;
    font-size: 18px;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 50px;
    left: 0px;
    width: 150px;
    bottom: 0px;
}

.sidebar-link{
    background-color: white;
    height: 85px;
    border-bottom: solid;
    border-right: solid;
    border-bottom-color: lightgray;
    border-right-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebar-link img{
    height:35px;
    margin-bottom: 3px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 15px;
}